.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}


.container {
    display: flex;
    margin: 8px auto;
    border: 1px solid black;
    padding: 8px;
}

.item {
    background-color: red;
    font-size: 22px;
    text-align: center;
    color: white;
    margin: 8px;
}

.t1 {
    margin: 8px auto;
    text-align: center;
    color: blanchedalmond;
}