body{
    font-size: 20px;
    color: aliceblue;
    background-color: black;
}
main{
    background-color: pink;
    height: 50px;
    width: 50%;
}
.abc{
    margin: 0px auto;
    background-color: brown;
    height: 50px;
    width: 50%;
}
.def{
    background-color: blue;
    height: 50px;
    width: 50%;

    position: absolute;
}
.ghi{
    background-color: #5451f7;
    height: 50px;
    width: 50%;

    position: absolute;

    left: 80px;
    top: 80px;

    z-index: 1;
}